name: Build Hiredis


on: workflow_dispatch
  
    
env:
  HIREDIS_TAG: v1.3.0


jobs:
  build:
    strategy:
      matrix:
        config:
          - { os: windows-latest, artifact-name: hiredis-windows, image: "" }
          - { os: ubuntu-latest, artifact-name: hiredis-linux, image: lazypanda07/ubuntu_cxx20:24.04 }
          - { os: ubuntu-latest, artifact-name: hiredis-aarch64-linux, image: lazypanda07/ubuntu_cxx20:aarch64 }
          - { os: ubuntu-latest, artifact-name: hiredis-android, image: lazypanda07/ubuntu_cxx20:android }
    runs-on: ${{ matrix.config.os }}
    container:
      image: ${{ matrix.config.image }}

    env:
      ADDITIONAL_CMAKE_PARAMETERS: ""
      
    steps:
    - uses: actions/checkout@v6
      with:
        repository: redis/hiredis
        ref: ${{ env.HIREDIS_TAG }}
  
    - name: Enable NMake
      if: ${{ matrix.config.os == 'windows-latest' }}
      uses: ilammy/msvc-dev-cmd@v1.13.0
    
    - name: Create AArch64 toolchain
      if: ${{ contains(matrix.config.artifact-name, 'aarch64-linux') }}
      shell: bash
      run: |
        echo "ADDITIONAL_CMAKE_PARAMETERS=-DCMAKE_TOOLCHAIN_FILE=../toolchain-aarch64.cmake" >> ${GITHUB_ENV}
        echo -e "set(CMAKE_SYSTEM_NAME Linux)\nset(CMAKE_SYSTEM_PROCESSOR aarch64)\nset(CMAKE_C_COMPILER aarch64-linux-gnu-gcc)\nset(CMAKE_CXX_COMPILER aarch64-linux-gnu-g++)\n" > toolchain-aarch64.cmake

    - name: Export Android build parameters
      if: ${{ contains(matrix.config.artifact-name, 'android') }}
      shell: bash
      run: echo "ADDITIONAL_CMAKE_PARAMETERS=${ANDROID_CMAKE_BUILD_ARGUMENTS}" >> ${GITHUB_ENV}

    - name: Build
      shell: bash
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=install-dir -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DBUILD_SHARED_LIBS=OFF ${{ env.ADDITIONAL_CMAKE_PARAMETERS }} ..
        cmake --build . -j --config Release
        cmake --install . --config Release

    - name: Upload ${{ matrix.config.artifact-name }}
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.config.artifact-name }}
        path: build/install-dir
